.box {
	display: inlineBlock;
	margin: 30px auto 20px auto;
	box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.25);
	padding: 20px;
	border-radius: 15px;
	text-align: center;
	font-weight: bold;
	font-size: 1rem;
}

abbr[title] {
	text-decoration: none;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.-menstruation{
  color: #fff!important;
}

.-menstruation::before{
  background-color: #e7264d!important;
  opacity: 1!important;
}

.-ovulations{
  color: #fff!important;
}

.-ovulations::before{
  background-color: #f984e5!important;
  opacity: 1!important;
}

.-today{
  /* color: #fff!important; */
}

.calendar-wrapper .-today::before{
  background-color: #a91b37!important;
  opacity: 1!important;
}

.-today.-menstruation::before{
  background-color: #b40024!important;
  opacity: 1!important;
}

.-today.-ovulations::before{
  background-color: #c42fab!important;
  opacity: 1!important;
}

.-today.-selected::before:hover{
  background: #a91b37!important;
  background-color: #a91b37!important;
  opacity: 1!important;
}

.dateinfo-round-wrap{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 50px 0;
}

.dateinfo-round-wrap .dateinfo-round{
  width: 50vw;
  height: 50vw;
  max-width: 300px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: rgb(61,255,240);
  background: radial-gradient(circle, rgba(61,255,240,1) 
  0%, rgba(27,190,177,1) 100%); */

  /* background: rgb(196,47,171);
background: radial-gradient(circle, rgba(196,47,171,1) 0%, rgba(153,44,135,1) 100%); */


background: rgb(12,105,187);
background: radial-gradient(circle, rgba(12,105,187,1) 0%, rgba(49,113,150,1) 100%);

  border-radius: 50%; /* Makes it a circle */
  padding: 20px; /* Adjust padding as needed */
  color: #fff; /* Text color */
  font-size: 18px; /* Text size */
}

.box-dates{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.box-date{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.day{
   color: #232323;
}

.date-day{
  border-radius: 100%;
  background-color: #fff;
  color: #232323;
  width: 30px;
  height: 30px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.btn-m-cal{
  background-color: aliceblue;
  border-radius: 14px;
  padding: 5px 25px;
  color: #c42fab;
  border: none;
  outline: none;
  box-shadow: 1px 1px 3px #2323238b;
  cursor: pointer;
  transition: .3s all;
  font-size: 16px;
}

.btn-m-cal:hover{
  box-shadow: 1px 1px 3px #8400008b;
}

.btn-m-cal:active{
  box-shadow: 1px 1px 3px #8400008b;
  box-shadow: none;
  outline: none;
}

.btn-m{
  background-color: var(--tg-theme-button-color);
  border-radius: 4px;
  width: 100%;
  display: block;
  padding: 5px 25px;
  color: var(--tg-theme-button-text-color);
  border: none;
  outline: none;
  box-shadow: 1px 1px 3px #2323238b;
  cursor: pointer;
  transition: .3s all;
  font-size: 16px;
  text-transform: capitalize;
}

.btn-m:hover{
  box-shadow: 1px 1px 3px #8400008b;
}

.btn-m:active{
  box-shadow: 1px 1px 3px #8400008b;
  box-shadow: none;
  outline: none;
}

.menstruationDay{
  color: #fff!important;
  background-color: #b40024!important;
}

.ovulationDay{
  color: #fff!important;
  background-color: #c42fab!important;
}


.calendar-wrapper{
  min-width: 380px;
}

.dateinfo-round-wrap h2{

}